body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(147, 182, 182, 0.497);
    margin: 5%;
    padding: 20px;
}
.head{
    font-size: large;
    color: #336699;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(47, 2, 40, 0.316);
}
.login{
    background-color: #f0f0f0;
    color: #333;
    font-size: medium;
    border: 2px solid #ccc;
    padding: 25px;
    margin: auto;
    width: 500px;
    height: 200px;
    text-align: center;
    font-weight: bold;
    box-shadow: 4px 4px 4px #4d7ba8a0;
    line-height: 24px;
}
input{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #4b48487f;
}
button{
    border-radius: 10px;
    color: #fcf9f9;
    border: 2px solid #000;
    background-color: rgba(0, 76, 255, 0.579);
    padding: 5px 20px;
    cursor: pointer;
    font-size: 16px;
}
.quiz{
    background-color: #f0f0f0;
    color: #333;
    font-size: medium;
    border: 2px solid #ccc;
    padding: 25px;
    margin: auto;
    width: 400px;
    height: 300px;
    text-align: center;
    font-weight: bold;
    box-shadow: 4px 4px 4px #4d7ba8a0;
    line-height: 24px;
}